body {
    background-color: rgb(211, 211, 211);
}

h1 {
    background-color: rgb(178, 213, 252);
    padding: 20px;
}

TABLE {
    color: #011140
}

form {
    font-family: fantasy;
    font-size: x-large;


}

input {
    width: 33%;
    height: 30px;
}